/*div {*/
    /*border-width: 1px;*/
    /*border-color: aquamarine;*/
    /*border-style: dashed;*/
/*}*/

body {
    display: flex;
    flex-direction: column;
}

h2, p, li {
    color: #4d4d4d;
}

.lighter {
    color: #999999;
}

.section-heading {
    font-size: 2em;
    margin-bottom: 0;
}

.item-header p {
    margin-bottom: 0;
}

.item-heading, .section-heading {
    font-weight: bold;
}
